{
  "printWidth": 100, // 每行代码的最大长度，超出长度会自动换行

  "semi": true, // 在语句末尾添加分号

  "tabWidth": 2, // 设置缩进的空格数，通常为 2 或 4

  "singleQuote": true, // 使用单引号代替双引号

  "trailingComma": "all", // 对象、数组等多行结构的最后一项末尾添加逗号

  "proseWrap": "never", // 不对 Markdown 文本自动换行

  "htmlWhitespaceSensitivity": "strict", // 严格遵守 HTML 中的空白规则

  "endOfLine": "auto", // 根据系统的换行符（Windows、Unix）自动调整

  "overrides": [
    {
      "files": "*rc", // 对所有以 "rc" 结尾的配置文件（如 .eslintrc）进行特殊处理

      "options": {

        "parser": "json" // 使用 JSON 解析器解析这些配置文件
      }
    }
  ],
  "plugins": [

    "prettier-plugin-tailwindcss" // 使用 Tailwind CSS 的 Prettier 插件，格式化时按 Tailwind CSS 的排序规则排列类名
  ]
}
